{
  "arrowParens": "avoid",
  "trailingComma": "none",
  "tabWidth": 2,
  "singleQuote": true,
  "semi": false,
  "printWidth": 120,
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "tsxSingleQuote": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}